/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2017, 8:13:28 PM
    Author     : bioni_000
*/

@media only screen and (max-width: 480px) {
  nav {
    display: inline;
    /* width: 60%; */
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    float: left;
  }

  .portfolioBanner {
    width: 100%;
  }
  .portfolioBanner > img {
    width: 100%;
    height: 250px;
  }
}

img {
  width: 200px;
}
h3,
h4,
h5 {
  font-size: 24px;
}

main {
  width: 100%;
  background: #000017;
}

body {
  width: 100%;
  background: #000017;
  margin: -5px;
}

/*
Pong Game
*/
.pong {
  border: solid;
  color: blue;
}

/*Heading text*/
h1,
h2,
h3,
h4,
h5 {
  color: #1cb0eb;
  background-color: #032750;
  text-align: center;
  white-space: normal;

  font-family: "Stencil STD";
}

/*Areas containing content*/
article {
  color: #ffffff;
  border: 2px solid black;
  background-color: transparent, #4c4c66;
  background: rgba(0, 100, 204, 0.5);

  width: 68%;
}

/*Random Quote and date/time*/

.dateTimeSection {
  border: 2px solid blue;
  background: rgba(0, 100, 204, 0.5);
  float: right;
  margin-left: 10px;
}
.motiveQ {
  width: 30%;
  float: right;
  border: 2px solid blue;
  background: rgba(0, 100, 204, 0.5);
}

.sectionHomeContent {
  float: left;
  display: block;
  color: #ffffff;
  border: 2px solid black;
  background-color: transparent, #4c4c66;
  background: rgba(0, 100, 204, 0.5);
  width: 68%;
}

.sectionContent {
 
  display: block;
  color: #ffffff;
  border: 2px solid black;
  background-color: transparent, #4c4c66;
  background: rgba(0, 100, 204, 0.5);
  width: 95%;
  margin: auto;
  padding: 2px;
}
/*Scale to size on other media screens*/

p,
DL,
DT {
  color: #ffffff;

  position: relative;
  font-size: 22px;
  text-align: center;
  white-space: normal;
}

nav,
a {
  font-size: 24px;

  text-align: center;

  overflow: hidden;

  padding: 5px 5px;
  /* background-color: #191970; */
  font-family: "Copperplate Gothic Bold";

  text-decoration: none;
  display: block;
}

a {
  border: 5px solid #041a44;
  color: #194bf0;
  background-color: #063e7e;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  padding: 8px;
}
/*Portfolio banner*/
/* .portfolioBanner > video  {
  text-align: center;
  padding: 60px;
  width: 100%;
} */

.portfolioBanner {
  width: 100%;
}
.portfolioBanner > img {
  width: 100%;
  height: 250px;
}

a:link {
  color: #00ffff;
} /* unvisited link */
a:visited {
  color: #ffffff;
} /* visited link */
a:hover {
  color: #ffffff;
} /* mouse over link */
a:active {
  color: #00ffff;
} /* selected link */

img {
  /* border-style: outset; */
  /* border-color: #0000ff; */
  border-width: 10px;
}

a href {
  font-size: 24px;
}
tr {
  background: -webkit-linear-gradient(#000000, #ff0000, #000000);
  background: -o-linear-gradient(#000000, #ff0000, #000000);
  background: -moz-linear-gradient(#000000, #ff0000, #000000);
  background: lienear-gradient(#000000, #ff0000, #000000);
}

html {
  max-width: 100%;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
