/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2017, 8:13:28 PM
    Author     : bioni_000
*/

h3, h4, h5 { font-size:24px;

}
body {
	
       margin:0;
       padding:0;
       width:80%;
       background: #000000;
       
	
       
	
}

/*Heading text*/
 h1, h2, h3, h4, h5 {
		color:#87CEEB;
 		background-color:navy;
 		text-align:center;
 		white-space:normal;
           
 		font-family:"Stencil STD";
 		background: -webkit-linear-gradient(#000000, #00008B, #000000);
 		background: -o-linear-gradient(#000000, #00008B, #000000);
 		background: -moz-linear-gradient(#000000, #00008B, #000000);
 		background: lienear-gradient(#000000, #00008B, #000000); 

}

section {
	width:100%;
        text-align:center;
}

/*Areas containing content*/
article
{
color:#FFFFFF;
border:2px solid black;
background-color:  transparent, #4C4C66;
background:rgba(0, 100, 204, 0.5);
white-space:normal;
    position:relative;
   
   
 
    width: 40%;
    left:0px;
    top: 0;
    right: 0;
    bottom: 0;
   
    padding: 20px 24%;
        

    z-index: 0;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
	
}

/*Random Quote and date/time*/
aside, sidebar
{
	width:250px; 
        
	float: left; 
        
        position:relative;
       right:-90.8%;
        
        overflow:contain;
        border: 2px solid blue;
	
	white-space:normal;
	
	background:-webkit-linear-gradient(#000000,#00008B,#000000);
	background:-o-linear-gradient(#000000,#00008B,#000000);
	background:-moz-linear-gradient(#000000,#00008B,#000000);
	background:lienear-gradient(#000000,#00008B,#000000);
}

/*Scale to size on other media screens*/

header

{
	width:80%;
	position:relative;
	
	
	
	
}
p, address, legend, fieldset, form, DL, DT {
		color:#ffffff;
           
                position:relative;
		font-size:22px;
		text-align:center;
		white-space:normal;
	

}


	
a, ul, li, nav
{
	
	font-size:24px;
	
        text-align: center;
        
        overflow: hidden;
        padding: 14px 16px;
        text-decoration: none;
	background-color:#191970;
	font-family:"Copperplate Gothic Bold";
	border-collapse:separate;
        
	
	background: -webkit-linear-gradient(#000000, blue, #000000);
 		background: -o-linear-gradient(#000000, blue, #000000);
 		background: -moz-linear-gradient(#000000, blue, #000000);
 		background: lienear-gradient(#000000, blue, #000000); 
 		text-decoration:none;
 		display:block;
 		
 		


}

a {
    border: 2px solid black;
}

/*Will display dropdown menu*/
.dropdown:hover .dropdown-content {
    display:block;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn  {
    font-size:16px;
    border: none;
    outline: none;
    color: white;
    
    background-color: inherit;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
a:link {color:#00ffff;}		/* unvisited link */
a:visited {color:#ffffff; }	/* visited link */
a:hover {color:#ffffff;}	/* mouse over link */
a:active {color:#00ffff;}	/* selected link */

img {
	border-style:outset;
	border-color:#0000ff;
	border-width:10px;
	
	}
table, th, td caption {
	color:#FFFFFF;
	font-size:24px;
	border:none;
}
th
{
text-align:top;
}
td
{
text-align:right;
}

a href
{
	font-size:24px;
	}
tr 
{
background: -webkit-linear-gradient(#000000,#FF0000,#000000);
 		background: -o-linear-gradient(#000000,#FF0000,#000000);
 		background: -moz-linear-gradient(#000000,#FF0000,#000000);
 		background: lienear-gradient(#000000,#FF0000,#000000); 
		}
caption
{
font-size:24px;
border-style:outset;
background: -webkit-linear-gradient(#000000,#FF0000,#000000);
 		background: -o-linear-gradient(#000000,#FF0000,#000000);
 		background: -moz-linear-gradient(#000000,#FF0000,#000000);
 		background: lienear-gradient(#000000,#FF0000,#000000); 
		border-color:#B8860B;
}


/*------------------------------------*\
    NAV
\*------------------------------------*/
/*
nav{
    list-style:none;
    font-weight:bold;
   	white-space:normal;
    margin:0 auto;
    float:left; /* Clear floats */
  /*  width:100%; *\}
    /* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */

nav li{
    float:left;
    margin-right:10px;
    position:relative;
}
/*
nav a{
    display:block;
    padding:5px;
    color:#fff;
    background:#333;
    text-decoration:none;
}
nav a:hover{
    color:#fff;
    background:#6b0c36;
    text-decoration:underline;
}

*/

/* ---- stats.js ---- */
/*
.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

html 
{
    max-width: 100%;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#particles-js{
height: 140%;
width:100%;
position:absolute;
background-repeat: no-repeat;
background-size: cover;
background-position: 100% 100%;

}
